<%# coding: UTF-8 %>
<%= form_tag({ :controller => 'my_roadmaps', :action => 'index'}, :method => :post, :id => 'query_form') do %>
    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content" class="hide-when-print">
    <fieldset id="filters" class="collapsible <%= query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="<%= query.new_record? ? "" : "display: none;" %>">
        <%= render :partial => 'queries/filters', :locals => {:query => query} %>
      </div>
    </fieldset>
    </div>
    <p class="buttons hide-when-print">
      <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
	    <%= link_to l(:button_clear), { :set_filter => 0 }, :class => 'icon icon-reload'  %>
    </p>
<% end %>
