<%# coding: UTF-8 %>
<%
	issue = issue_wrapper.wrapped_issue
	if issue_wrapper.depth >0
		child_issue = " childissue"
	  	issue_div_style = 'margin-left: '+((issue_wrapper.depth-1)*10).to_s+'px;'
	else
		child_issue = ""
	  	issue_div_style = nil
	end
  	target_ratio = (issue.closed?)?100:issue.done_ratio
	if [0,100].include?(target_ratio)
		firstcolspan = synthesis.pct_done.length-2
		secondcolspan = 1
	else
		firstcolspan = synthesis.pct_done.index(target_ratio)
		secondcolspan = synthesis.pct_done.length-firstcolspan-1
	end
	if issue.closed?
		secondtdclass = firsttdclass = @tracker_styles[issue.tracker.id][:closed]+child_issue
	else
		if issue.done_ratio==0
			secondtdclass = firsttdclass = @tracker_styles[issue.tracker.id][:opened]+child_issue
		elsif issue.done_ratio==100
			secondtdclass = firsttdclass = @tracker_styles[issue.tracker.id][:done]+child_issue
		else
			firsttdclass = @tracker_styles[issue.tracker.id][:done]+child_issue
			secondtdclass = @tracker_styles[issue.tracker.id][:opened]+child_issue
		end
	end
	secondtdclass += " subtaskpct" unless issue.leaf?
%>
<tr>
	<td/>
		<td <%="colspan=#{firstcolspan}" %> class="<%= 'tracker '+firsttdclass %>">
			<% if issue_div_style.nil? %>
				<div>
			<% else %>
				<div style="<%= issue_div_style.to_s %>">
			<% end %>
				<%= link_to_issue(issue, :project => (synthesis.project != issue.project)) %>
				<% unless issue.assigned_to.nil? %>
					- <%= link_to_user(issue.assigned_to) %>
				<% end %>
			</div>
		</td>
		<td <%="colspan=#{secondcolspan}" if secondcolspan>1  %> class="<%= secondtdclass %>">
			<div><%= (issue.closed?)?100:issue.done_ratio %>%</div>
		</td>
	<td/>
</tr>
