<%# coding: UTF-8 %>
<%
# My Roadmaps - Redmine plugin to expose global roadmaps
# Copyright (C) 2012 Stéphane Rondinaud
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<%= render :partial => 'filters', :locals => {:query => @query} %>
<h2><%= l(:my_roadmaps_name) %></h2>
<p class="subtaskpct" style="text-align: right; font-size: 90%;"><%=l(:label_lighter_subtasks)%></p>
<div id="roadmaps">
	<%
		@user_synthesis.keys.sort_by{|project| project.self_and_ancestors.join('/') }.each{ |project|
	%>
		<h2 class="project">
			<%= link_to_if(project.visible?(User.current),project.name, {:controller => 'projects', :action => 'show', :id => project.id}) %>
		</h2>
		<%
			@user_synthesis[project].keys.sort{|v1,v2| v1<=>v2}.each{ |version|
				synthesis = @user_synthesis[project][version]
		%>
		<article class="version-article version-incompleted version-open" style="clear: both;">
			<header>
				<h3 class="version">
					<%= link_to_if(project.visible?(User.current),project.name, {:controller => 'projects', :action => 'show', :id => project.id}) %> -
					<%= link_to_if(version.visible?(User.current),version.name, {:controller => 'versions', :action => 'show', :id => version.id}) %>
					<span style="font-size:0.7em;">
						<%= "("+l(:version_status_locked)+")" if version.status == 'locked' %>
						<%= link_to l(:button_edit), {:controller => 'versions', :action => 'edit', :id => version.id} if version.visible?(User.current) %>
					</span>
				</h3>
			</header>
			<%= render :partial => 'trackers_progress', :locals => {:synthesis => synthesis} %>
			<% if !synthesis.pct_done.nil? %>
				<div class="version-overview">
					<table class="progress progress-13">
						<caption>
							<%= l(:label_related_issues) %>
						</caption>
						<tr>
							<td style="width: 5px;"/>
							<%
								synthesis.pct_done.each_index{|i|
								if i>0
							%>
								<td style="width: <%=synthesis.pct_done[i]-synthesis.pct_done[i-1]%>%;"/>
							<%
								end
							}
							%>
							<td style="width: 5px;"/>
						</tr>
						<%
							synthesis.issues.sort.each { |issue_wrapper|
						%>
							<%= render :partial => 'related_issue', :locals => {:synthesis => synthesis, :issue_wrapper => issue_wrapper } %>
						<%
							}
						%>
						<tr style="height: 5px; padding: 0px; margin:0px;"><td colspan="12"/></tr>
					</table>
				</div>
			</article>
			<% end %>
		<% } # version %>
	<% } # project %>
	<% if @user_synthesis.empty? %>
		<h3><%= l(:my_roadmaps_no_version_match) %></h3>
	<% end %>
</div>
<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'trackers_progress', :plugin => 'redmine_my_roadmaps', :media => 'all' %>
<% end %>

<% html_title(l(:my_roadmaps_name)) -%>
