<%
# My Roadmaps - Redmine plugin to expose global roadmaps 
# Copyright (C) 2012 Stéphane Rondinaud
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License
# as published by the Free Software Foundation; either version 2
# of the License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
%>
<% form_tag({ :controller => 'my_roadmaps', :action => 'index'}, :method => :get, :id => 'query_form') do %>
    <%= hidden_field_tag 'set_filter', '1' %>
    <div id="query_form_content" class="hide-when-print">
    <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
      <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
      <div style="<%= @query.new_record? ? "" : "display: none;" %>">
        <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
      </div>
    </fieldset>
    </div>
    <p class="buttons hide-when-print">
	    <%= link_to_function l(:button_apply), "$('query_form').submit()", :class => 'icon icon-checked' %>
	    <%= link_to l(:button_clear), { :set_filter => 0 }, :class => 'icon icon-reload'  %>
    </p>
<% end %>
<h2><%= l(:my_roadmaps_name) %></h2>
<div id="roadmaps">
	<%  prevProjectId=nil
		@user_synthesis.sort{|a,b| [a[0].project.name.upcase, splitVersionName(a[0].name)]<=>[b[0].project.name.upcase, splitVersionName(b[0].name)]}.each { |version,synthesis|
		if prevProjectId.nil? || prevProjectId!=version.project.id
			prevProjectId=version.project.id
			%><h2 class="project"><%= link_to_if(version.project.visible?(User.current),version.project.name, {:controller => 'projects', :action => 'show', :id => version.project.id}) %></h2><%
		end
		%>
		<h3 class="version">
			<%= link_to_if(version.project.visible?(User.current),version.project.name, {:controller => 'projects', :action => 'show', :id => version.project.id}) %> -  
			<%= link_to_if(version.visible?(User.current),version.name, {:controller => 'versions', :action => 'show', :id => version.id}) %>
			<span style="font-size:0.7em;">
				<%= "("+l(:version_status_locked)+")" if version.status == 'locked' %>
				<%= link_to l(:button_edit), {:controller => 'versions', :action => 'edit', :id => version.id} if version.visible?(User.current) %>
			</span>
		</h3>
		
		<% 
			trackers = synthesis.trackers
			trackers.sort{|a,b| a.wrapped_tracker.position<=>b.wrapped_tracker.position}.each{ |tracker_wrapper|
				tracker = tracker_wrapper.wrapped_tracker
				opened_left_pct = 100-tracker_wrapper.overall_done_pct.round
				closed_tracker_style = @tracker_styles[tracker][:closed]
				done_tracker_style = @tracker_styles[tracker][:done]
				opened_tracker_style = @tracker_styles[tracker][:opened]
		%>
		<table class="progress" style="width: 40%; height: 1em;">
			<tr>
				<% if tracker_wrapper.closed_nb.round > 0 %>
					<td class="<%= closed_tracker_style %>" 
						style="width:<%= tracker_wrapper.closed_pct.round %>%"></td>
				<% end
				   if (tracker_wrapper.overall_done_pct-tracker_wrapper.closed_pct).round > 0 %>
					<td class="<%= done_tracker_style %>" 
						style="width:<%= (tracker_wrapper.overall_done_pct-tracker_wrapper.closed_pct).round %>%"></td>
				<% end
				   if opened_left_pct.round > 0 %>
					<td class="<%= opened_tracker_style %>" 
						style="width:<%= opened_left_pct.round %>%"></td>
				<% end %>
			</tr>
		</table>
		<p class="pourcent">
			<%= tracker.name+" "+(tracker_wrapper.overall_done_pct).round.to_s %>%
			<%=l(:label_for_root_issues, :count => tracker_wrapper.total_root_nb.round, :pct => (tracker_wrapper.overall_root_done_pct).round ) unless (tracker_wrapper.total_root_nb == tracker_wrapper.total_nb) %></p>
		<p class="progress-info"><%= link_to_if(tracker_wrapper.closed_nb > 0, 
					l(:label_x_closed_issues_abbr, :count => tracker_wrapper.closed_nb), 
					:controller => 'issues', 
					:action => 'index', 
					:project_id => version.project, 
					:tracker_id => tracker, 
					:status_id => 'c', 
					:fixed_version_id => version, 
					:set_filter => 1) +
				"("+tracker_wrapper.closed_pct.round.to_s+"%) "+ 
				link_to_if(tracker_wrapper.opened_nb > 0, 
					l(:label_x_open_issues_abbr, :count => tracker_wrapper.opened_nb), 
					:controller => 'issues', 
					:action => 'index', 
					:project_id => version.project, 
					:tracker_id => tracker, 
					:status_id => 'o', 
					:fixed_version_id => version, 
					:set_filter => 1)+ 
				"("+tracker_wrapper.opened_pct.round.to_s+"%)" %></p>
		<%
			}
		%>
		<% issues = synthesis.issues
		   if !issues.nil? && issues.length>0 %>
		<% form_tag({}) do -%>
		  <table class="list tracker" style="width: 70%; font-size: 90%;">
		  <caption>
		  	<%= l(:label_related_issues) %>
		  	<%= l(:label_x_closed_issue_not_shown, :count => synthesis.closed_nb) unless !@exclude_closed_issues || synthesis.closed_nb==0 %>
		  </caption>
	  	  <tr style="height: 5px; padding: 0px; margin:0px;">
	  	  	<td style="width: 5px;"/>
	  	  	<% 10.times {%><td style="width: 10%;"/><%}%>
	  	  	<td style="width: 5px;"/>
	  	  </tr>
		  <% 
		  	issues.reject{ |issue_wrapper| issue_wrapper.wrapped_issue.closed? unless !@exclude_closed_issues } \
		  		.sort_by{ |a| [a.wrapped_issue.root_id, ((a.wrapped_issue.leaf?)?(a.wrapped_issue.parent_id):(a.wrapped_issue.id)), a.depth, a.wrapped_issue.tracker.position, a.wrapped_issue.id]} \
		  		.each { |issue_wrapper| 
		  	issue = issue_wrapper.wrapped_issue 
		  	if issue_wrapper.depth >0
		  		child_issue = " childissue"
			  	issue_div_style = "margin-left: "+((issue_wrapper.depth-1)*10).to_s+"px;"
		  	else
		  		child_issue = ""
			  	issue_div_style = ""
		  	end
		  	 %>
		    <tr>
		      <td/>
		      <% if issue.closed? %>
			      <td colspan="9" class="<%= @tracker_styles[issue.tracker][:closed] %> tracker<%= child_issue %>">
			      	<div style="<%= issue_div_style %>">
				      	<%= link_to_issue(issue, :project => (version.project != issue.project)) %>
			      	</div>
			      </td>
		      	  <td class="<%= @tracker_styles[issue.tracker][:closed] %> tracker<%= child_issue %>">100%</td>
		      <% else %>
		      	<% if (issue.done_ratio/10)==0 %>
			      <td colspan="9" class="<%= @tracker_styles[issue.tracker][:opened] %> tracker<%= child_issue %>">
						<div style="<%= issue_div_style %>">
							<%= link_to_issue(issue, :project => (version.project != issue.project)) %>
						</div>
					</td>
					<td class="<%= @tracker_styles[issue.tracker][:opened] %>">
						<%= issue.done_ratio%>%
					</td>
	      		<% elsif (issue.done_ratio/10)==10 %>
					<td colspan="9" class="<%= @tracker_styles[issue.tracker][:done] %><%= child_issue %>">
						<div style="<%= issue_div_style %>">
							<%= link_to_issue(issue, :project => (version.project != issue.project)) %>
						</div>
					</td>
					<td colspan="<%= 10-(issue.done_ratio/10) %>" class="<%= @tracker_styles[issue.tracker][:done] %><%= child_issue %>">
						<%= issue.done_ratio%>%
					</td>
	      		<% else %>
					<td colspan="<%= issue.done_ratio/10 %>" class="<%= @tracker_styles[issue.tracker][:done] %><%= child_issue %>" 
					style="white-space: nowrap; overflow: visible;">
						<div style="<%= issue_div_style %>">
							<%= link_to_issue(issue, :project => (version.project != issue.project)) %>
						</div>
					</td>
					<td colspan="<%= 10-(issue.done_ratio/10) %>" class="<%= @tracker_styles[issue.tracker][:opened] %><%= child_issue %>">
						<%= issue.done_ratio%>%
					</td>
		      	<% end %>
		      <% end %>
		      <td/>
		    </tr>
		  <% } %>
	  	  <tr style="height: 5px; padding: 0px; margin:0px;"><td colspan="12"/></tr>
		  </table>
		<% end
		end %>
	<p>
	<% } %>
	<h3><%= l(:my_roadmaps_no_version_match) if @user_synthesis.empty? %></h3>
</div>
